<!DOCTYPE html>

<body>
<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
<h1 th:text=Reset>reset password</h1>


<input id="password" name="password" type="password" value="" placeholder="Enter New Password"/>
<input id="confirmPassword" name="confirmPassword" type="password" value="" placeholder="Confirm Password"/>
<button type="submit" onclick="resetPass()"
        >reset password</button>




<script src="jquery.min.js"></script>
<script th:inline="javascript">
var serverContext = [[@{/}]];
function resetPass(){
    let password1 = document.getElementById("password").value;
    let password2 = document.getElementById("confirmPassword").value;

                if (password1 == '')
                    alert ("Please enter Password");

                // If confirm password not entered
                else if (password2 == '')
                    alert ("Please enter confirm password");

                // If Not same return False.
                else if (password1 != password2) {
                    alert ("\nPassword did not match: Please try again...");
                }

                else if (password1.length < 8) {
                    alert ("Password needs to be at least 8 characters");
                }

                else if (password1 == password2) {
                    console.log("hello");
                    let url = window.location.href;
                    let code = url.substr(url.length - 64);
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/createPasswordVerified', true);
                    let params = {
                        "verificationCode": code,
                        "password": password1
                    }
                    xhr.setRequestHeader('Content-type', 'application/json;charset=UTF-8');
                    console.log(params);
                    xhr.send(JSON.stringify(params));
                    window.location.href = "/newPassword";
                }
}

</script>
</body>

</html>

<!--<html>
<head>
    <script>


            function checkPassword(form) {
                password1 = form.password1.value;
                password2 = form.password2.value;

                // If password not entered
                if (password1 == '')
                    alert ("Please enter Password");

                // If confirm password not entered
                else if (password2 == '')
                    alert ("Please enter confirm password");

                // If Not same return False.
                else if (password1 != password2) {
                    alert ("\nPassword did not match: Please try again...")
                    return false;
                }

                // If same return True.
                else{
                    console.log("hello");
                    let url = window.location.href;
                    let code = url.substr(url.length - 64);
                    $.ajax({
                        type: "POST",
                        url: "/createPasswordVerified",
                        data: {
                            password: password1,
                            verificationCode: code
                            }
                    })

                }
            }


        </script>
    <style>
            .gfg {
                font-size:40px;
                color:green;
                font-weight:bold;
                text-align:center;
            }
            .geeks {
                font-size:17px;
                text-align:center;
                margin-bottom:20px;
            }
        </style>
</head>
<body>
<div class = "gfg">Create New Password</div>

<form onSubmit = "return checkPassword(this)">
    <table border = 1 align = "center">
        <tr>

            <td>Password:</td>
            <td><input type = password name = password1 size = 25</td>
        </tr>
        <tr>

            <td>Confirm Password:</td>
            <td><input type = password name = password2 size = 25></td>
        </tr>
        <tr>
            <td colspan = 2 align = right>
                <input type = submit value = "Submit"></td>
        </tr>
    </table>
</form>

</body>
</html> -->

